<div class="single_order_details">
  <p>First name: <%= @pizza.first_name %></p>
  <p>Last name: <%= @pizza.last_name %></p>
  <p>Topping: <%= @pizza.topping %></p>
  <p>Quantity: <%= @pizza.quantity %></p>
</div>
<div id="delete_button">
  <form class="" action="/pizzas/<%= @pizza.id %>/delete" method="post">
    <button class="button" type="submit" name="" value="Delete pizza">Delete Order</button>
  </form>
</div>
<div id="edit_button">
  <form class="" action="/pizzas/<%= @pizza.id %>/edit" method="get">
    <button  class="button" type="submit" name="" value="Edit pizza">Edit Order</button>
  </form>
</div>
